#input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    height: 100px;
}
#input nav{
    display: flex;
    gap:15px;
    padding-right: 20px;
    flex-wrap: wrap;
}
#input nav a{
    text-decoration: none;
    color:orange;
    font-size: large;
}
h1{
    padding: 15px;
    color: white;
}
h1 span{
    color: orange;
}
.search{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
input{
    font-size: x-large;
    border-radius: 5px;
}
button{
    font-size: x-large;
    border-radius: 5px;
    background-color: orange;
    color:black;
}
#movies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
    padding: 20px;
    -ms-overflow-style: none;
}
::-webkit-scrollbar{
    display: none;
}
.movie{
    /* height: 500px; */
    box-shadow: 5px 5px 10px rgba(248, 116, 8, 0.962);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.651);
    color: orange;
    text-align: center;
}
.movie img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 350px;
    width: 300px;
}