img{
    height: 250px;
    width:250px;
    border-radius: 50%;
    box-shadow: 5px 7px 10px rgb(62, 141, 238);
}
img:hover{
    transform: scale(1.1);
}
p{
    padding-left: 95px;
    font-size: x-large;
    color: beige;
}