<div class="projects">
    <div class="card">
        <img src="chatapp.jpg" alt="Nature">
        <div class="card-content">
          <h2>Chat Application</h2>
          <hr>
          <p>It allows users to create/register and log in to the app.
            Implemented real-time messaging, group chats, and media sharing
            functionalities.
            Designed and developed the backend using ASP.NET and ADO.NET to
            handle server-side logic and database interactions.
            HTML, Angualr ,CSS and JavaScript for lmaking more interractive
        </p>
        </div>
    </div>
    <div class="card">
        <img src="netflix.avif" alt="Nature">
        <div class="card-content">
          <h2>NetFLix Clone</h2>
          <hr>
          <p>
            I have developed a Netflix clone website that replicates most of the core functionalities 
            of the original Netflix platform. This project showcases my skills in front-end and back-end development, 
            user authentication, and media streaming interfaces.
          </p>
        </div>
    </div>
</div>
