<header>
    <h1> MyCart </h1>
    <img src="" alt="">
    <div id="search">
        <input type="text" placeholder="Search for products, brands,.....">
        <button>Search</button>
    </div>
    <a href="">Sing In</a>
    <nav>Cart</nav>
</header>

<div class="products">
    <div class="product" *ngFor="let i of products">
        <app-category title="{{i.title}}" 
           imageUrl="{{i.image}}" 
           desc="{{i.description}}"
           price="{{i.price}}">
        </app-category>
    </div>
</div>