header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    background-color: dodgerblue;
    color: white;
    font-size: large;
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 20px; 
}
#search{
    display: flex;
    gap: 5px;
}