<div class="about">
    <div id="details">
        <h2>
            Hi, I'm PRAVEEN, An Aspiring <br>
        </h2>
        <h2>
            <span>.NET Developer</span>
        </h2>
        <p>
          Completed BSc (Computers) under Dr.B.R.Ambedkar University(Srikakulam) with 7.69 CGPA
          in 2024, And currently pusruing .Net FullStack in Naresh I Technologies.
        </p>
        <div id="btns">
            <button> Send Message </button>
            <button> See Resume </button>
        </div>
    </div>
    <div id="photo">
        <img src="Praveen.jpg" alt="Praveen Badatya">
    </div>
</div>