
.about{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 75px;
    gap:100px;
    animation: fadeIn 0.5s ease-in-out;
}
#photo img{
    height: 430px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 0 10px rgb(37, 97, 237);
}
#photo img:hover{
    transform: scale(1.1);
    transition: 1s;
    box-shadow: 0 0 50px rgb(37, 97, 237);
}
#details{
    font-size:x-large;
    text-align: center;
    
}
#details span{
    background-color:rgba(10, 96, 161, 0.529);
    color:white;
    padding:10px;
    border-radius: 15px;
    margin: 20px;
}
#btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}
button{
    font-size: large;
    padding:10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(88, 142, 241, 0.506);
    color: rgb(244, 245, 249);
    width: 300px;
}
button:hover{
    transform: scale(1.1);
    transition: 0.7s;
    box-shadow: 0 0 20px rgb(37, 97, 237);
    background-color: rgb(119, 165, 252);
    color: rgb(244, 245, 249);
    border: 2px solid blue;
}



.message-form {
    margin-bottom: 50px;;
    padding: 20px;
    background-color: #3a6ce069;
    color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
  }
  .message-form:hover{
    box-shadow: 10px 20px 30px #3065e0c0;
    border: 3px solid blue;
  }
  input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
    font-size: 14px;
  }

  /* Smooth Fade-in Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .resume img{
    margin-bottom: 50px;
    border-radius: 20px;
    margin-left: 500px;
    height: 700px;
    width:500px;
    transition: transform 0.3s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
  }
  .resume img:hover{
    box-shadow: 0 5px 30px #3065e0c0;
    transform: scale(1.1);
    transition: 0.7s;
    border-radius: 15px;
  }