<div class="login">
  
  <table>
    <caption>Sign In</caption><br>
     <tr>
        <td>
            <input type="email" id="email" placeholder="Email/phone number">
        </td>
     </tr>
     <tr>
        <td>
            <input type="password" id="password" placeholder="Password">
        </td>
        <tr>
            <td>
                <button id="login">Login</button>
            </td>
        </tr>
        <tr>
            <td align="center">
                <a href=""> Forgot password? </a>
            </td>
        </tr>
        <tr>
            <td>
                <div id="checkbox">
                    <input type="checkbox" id="cb">
                    <label for="cb">Remember me</label>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="Singup">
                    <label>
                        New to NetFlix? 
                    </label>
                    <a href="">Sing up now.</a>
                  </div>
            </td>
        </tr>
  </table>

</div>