.moviecard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    overflow-y: auto;
    -ms-overflow-style: none;
    /* box-shadow: 0 5px 5px #B52626; */
}
::-webkit-scrollbar{
    display: none;
}
h2{
    color: white;
    font-size: 30px;
}