<h2>Telugu Movies</h2>
<div class="moviecard">
   <app-movies *ngFor="let movies of teluguMovies" [imgUrl]="movies.imgUrl" [movieTitle]="movies.movieTitle">
   </app-movies>
</div>

<h2>Hindi Movies</h2>
<div class="moviecard">
   <app-movies *ngFor="let movies of hindiMovies" [imgUrl]="movies.imgUrl" [movieTitle]="movies.movieTitle">
   </app-movies>
</div>

<h2>English Movies</h2>
<div class="moviecard">
   <app-movies *ngFor="let movies of englishMovies" [imgUrl]="movies.imgUrl" [movieTitle]="movies.movieTitle">
   </app-movies>
</div>
