<div class="teamscard">
    <a (click)="onClick()">
        <img [src]="teamLogo" alt="{{teamName}}" />
    </a>
    <h2>{{teamName}}</h2>
</div>

<div *ngIf="showPlayers" class="players" [ngSwitch]="teamName">
    <app-players *ngSwitchCase="teamName"
      playerImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ32UlhQtyFKeCIkbLuZKqf_hsbmtTGp1KY0Q&s"
      playerName="{{teamName}}">
    </app-players>
    <app-players *ngSwitchCase="teamName"
      playerImage="https://media.sportstiger.com/media/csk-ipl-2025-full-squad-1732555693735-original.webp"
      playerName="{{teamName}}">
    </app-players>

</div>
  