<header class="d-flex flex-column flex-lg-row justify-content-around align-items-center bg-primary-subtle">
    <h2>My<span>Bazzar</span></h2>
    <div class="d-flex flex-column flex-lg-row align-items-center gap-2">
        <input type="text" placeholder="Search for products,brands,etc...">
        <button class="btn btn-outline-primary">Search</button>
    </div>
    <nav class="d-flex gap-3 flex-column flex-lg-row">
        <a routerLink="" class="text-decoration-none">Home</a>
        <a routerLink="/products" class="text-decoration-none">Products</a>
        <a routerLink="/login" class="text-decoration-none">Login</a>
        <a routerLink="/cart" class="text-decoration-none">Cart</a>
    </nav>
</header>
