<header class="header">
  <img src="https://www.shutterstock.com/image-vector/indian-premier-league-ipl-official-260nw-2308551109.jpg" alt="IPL Logo" />
  <h1>Indian Premier League 2025</h1>
  <div>
    <nav>
      <a href="">Home</a>
      <a href="">Teams</a>
      <a href="">Players</a>
      <a href="">Matches</a>
    </nav>
  </div>
</header>

<div class="iplteams">
  <div class="iplteam" *ngFor="let team of teams">
    <app-teams [teamLogo]="team.logo" [teamName]="team.name"></app-teams>
  </div>
</div>

<div class="teamplayers">
  <div class="players">
    <app-players></app-players>
  </div>
</div>
