<div class="courses">
    <div class="course1">
        <h2>Fornt End Development</h2>
        <div class="gridbox1">
            <div>
               <img src="html5.png" alt="HMTL5">
               <h4>HTML 5</h4>
            </div>
            <div>
                <img src="css3.png" alt="CSS3">
               <h4>CSS 3</h4>
            </div>
            <div>
                <img src="js.png" alt="JavaScript">
               <h4>Java <Script></Script></h4>
            </div>
            <div>
                <img src="Angular.jpeg" alt="Angular19">
               <h4>Angular</h4>
            </div>
            <div>
                <img src="bootstrap.png" alt="BootStrap">
               <h4>BootStrap</h4>
            </div>
            
        </div>
    </div>
</div>
