<div class="courses">
    <div class="course">
        <h2>Fornt-End Development</h2>
        <div class="gridbox">
            <div class="box">
               <img src="html5.png" alt="HMTL5">
               <h4>HTML 5</h4>
            </div>
            <div class="box">
                <img src="css3.png" alt="CSS3">
               <h4>CSS 3</h4>
            </div>
            <div class="box">
                <img src="js.png" alt="JavaScript">
               <h4>JS <Script></Script></h4>
            </div>
            <div class="box">
                <img src="Angular.jpeg" alt="Angular19">
               <h4>Angular</h4>
            </div>
            <div class="box">
                <img src="bootstrap.png" alt="BootStrap">
               <h4>BootStrap</h4>
            </div>
        </div>
    </div>
    <div class="course">
        <h2>Back-End Developement</h2>
        <div class="gridbox">
            <div class="box">
               <img src="C.png" alt="HMTL5">
               <h4>C</h4>
            </div>
            <div class="box">
                <img src="csharp.png" alt="CSS3">
               <h4>C# (CSharp)</h4>
            </div>
            <div class="box">
                <img src="java.png" alt="JavaScript">
               <h4>Java <Script></Script></h4>
            </div>
            <div class="box">
                <img src="asp.png" alt="Angular19">
               <h4>ASP.Net</h4>
            </div>
            <div class="box">
                <img src="Sql.png" alt="BootStrap">
               <h4>Sql</h4>
            </div>
        </div>
    </div>
    <div class="course">
        <h2>Developement Tools and Softwares</h2>
        <div class="gridbox">
            <div class="box">
               <img src="vstudio.png" alt="HMTL5">
               <h4>VS Studio</h4>
            </div>
            <div class="box">
                <img src="vscode.png" alt="CSS3">
               <h4>VS Code</h4>
            </div>
            <div class="box">
                <img src="eclips.png" alt="JavaScript">
               <h4>Eclipse<Script></Script></h4>
            </div>
            <div class="box">
                <img src="ssms.jpeg" alt="Angular19">
               <h4>SSMS</h4>
            </div>
            <div class="box">
                <img src="github.png" alt="BootStrap">
               <h4>GitHub</h4>
            </div>
        </div>
    </div>
</div>
