body{
    background:#000;
    background-image: url(https://res.cloudinary.com/jerrick/image/upload/c_scale,f_jpg,q_auto/vuoxhhazsffxnai2qqmk.jpg);
    font-family: Franklin Gothic Medium;
    background-repeat: no-repeat;
    background-size: cover;
}